<html>
    <head>
        <title>Node JS</title>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="/assets/todo-list.js"></script>
        <link rel="stylesheet" href="/assets/styles.css" type="text/css">
    </head>
    <body>
        <h1>Hello,</h1>
        <div id="todo-table">
            <form>
                <input type="text" placeholder="Add your activity" name="item" required/>
                <button type="submit">ADD</button>
            </form>
        </div>
        <ul>
            <% for(var i=0; i < todos.length ; i++) { %>
                <li><%= todos[i].item %></li>
            <% } %>
        </ul>
    </body>
</html>